node_modules
.DS_Store
.vscode
/cache
/build
/build-compat
/build-wasm
/docs
/dist
/wasm
/esm
/models
/test-results
_tmp

/scripts/_tmp_hf_space
/cpp/test_glue
/cpp/*.bin
tmp.patch

a.out.js
a.out.wasm

/compat/wasm/*.wasm
