**/.vscode
**/.github
**/.git
**/.svn
**/.hg
**/node_modules
**/dist
**/docs

/llama.cpp

/examples/advanced
/examples/basic
/examples/embeddings

/scripts
/esm
/models
/build

/src/multi-thread
/src/single-thread
/src/workers-code/generated.ts
/src/wasm-from-cdn.ts
/src/glue/messages.ts

*.md
*.mdx
*.json
*.lock
*.yml
*.cpp
*.hpp

*.config.js
