name: Deploy wllama to your github pages

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: examples/main/package-lock.json

      - name: Install deps
        run: npm ci
        working-directory: examples/main

      - name: Build
        run: npm run build
        working-directory: examples/main

      - name: Deploy examples/main to gh-pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: examples/main/dist
          clean: true
